---
layout: default
title: FAQ's
section_id: faq
permalink: faq
---


<div class='full parallax' style='background-image: url(images/@stock/portfolio-header-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="FAQ's" tagline="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='large-8 large-offset-2 columns'>
       {% include faq.html %}
	   
    </div>
  </div>

  <div class='four spacing'></div>
</div>