---
layout: default
title: find your location
section_id: locations
headerImage: images/@stock/Cleanily_pricing.png
permalink: find-your-location
---


<div class='full parallax' style='background-image: url({{page.headerImage}}); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns' style="color: #fff">
      {% include section-header.html title="our locations" %}
    </div>
  </div>
  <div class='two spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='large-6 large-offset-3 columns'>
        <ul class="location ">
			{% for locations in site.cleaning-services %}		
			  <li>
				<a href='/cleaning-services/{{locations.location | replace: ' ', '-' | downcase }}'>{{locations.location}}</a>
			  </li>
		  {% endfor %}
        </ul>
    </div>
  </div>

  <div class='four spacing'></div>
</div>