<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <link rel="canonical" href="{% if page.canonical %}{{ page.canonical }}{% else %}{{ site.canonical }}{% endif %}"/>
    <meta property="og:locale" content="en_UK" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% if page.og-title %}{{ page.og-title }}{% else %}{{ site.og-title }}{% endif %}"/>
    <meta property="og:image" content="{% if page.og-image %}{{ page.og-image }}{% else %}{{ site.og-image }}{% endif %}"/>
    <meta property="og:description" content="{% if page.og-description %}{{ page.og-description }}{% else %}{{ site.og-description }}{% endif %}" />
	<meta property="og:url" content="{% if page.og-url %}{{ page.og-url }}{% else %}{{ site.og-url }}{% endif %}" />
    <meta property="og:site_name" content="Cleanily" />
    <meta property="article:publisher" content="https://www.facebook.com/Cleanily" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{% if page.twitter-description %}{{ page.twitter-description }}{% else %}{{ site.twitter-description }}{% endif %}  " />
    <meta name="twitter:title" content="{% if page.twitter-title %}{{ page.twitter-title }}{% else %}{{ site.twitter-title }}{% endif %}" />

    <meta name="twitter:site" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:creator" content="" />
    <script type='application/ld+json' src=""> </script>
  
  
  

  <link rel="stylesheet" href="{{ "/css/foundation.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/fontello.css" | prepend: site.baseurl }}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" as="fetch" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}">-->
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,300" media="screen" rel="stylesheet" type="text/css" />  
  <!--<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">-->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  
   <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KDQSBP6');</script>
  <!-- End Google Tag Manager -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

  {% seo %}
  
  
</head>
