<div class=" spacing"></div>
<div class="row">
	 <div class="medium-12 columns">
	
<script src="https://widget.reviews.co.uk/rich-snippet-reviews-widgets/dist.js" type="text/javascript"></script>
<div id="carousel-widget"></div>

<script>
        richSnippetReviewsWidgets("carousel-widget", {
            store: "cleanily",
            primaryClr: "#f47e27",
            neutralClr: "#cccccc",
            reviewTextClr: "#333333",
            widgetName: "carousel",
            layout: "fullWidth",
            numReviews: 40,
            contentMode: "company;third-party",
            hideDates: true
        });
</script>
	</div>
</div>
<div class=" spacing"></div>
